@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Key Vault MySecret Value</h1>
    @if (ViewBag.MySecret != null)
    {
        <p>@ViewBag.MySecret</p>
    }
</div>
